@tailwind base;
@tailwind components;
@tailwind utilities;
/*@import url('');*/

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /*
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  */
  height: 100vh; /* 화면 높이에 맞게 설정 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .App {
    background-color: rgb(255, 255, 255);
  }
  .top-box {
    width: 100vw;
    height: 52vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .text-box {
    width: 82vw;
    height: 11vh;
    padding: 20px;
    font-size: 2.5em;
    font-weight: 470;
    font-family: "Arial", "맑은 고딕", serif;
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(69, 254, 36);
    border-radius: 10px;
    border: 10px;
    border-color: rgb(1, 184, 1);
    letter-spacing: 8px;
  }

  .centered-box {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* */
  }

  .centered-image img {
    width: 50px;
    height: auto;
    max-width: 80%;
    max-height: 80%;
  }

  .chick-img {
    background-image: url("/images/ch01_yellow.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    width: 100px;
    height: 50px;
  }
}
